<div class="app-container">
    <ng-button (click)="showModal()">使用模板的Demo</ng-button>
    <ng-modal [(isOpen)]="isOpen">
        <div class="content-wrap">
            <h2>模态框</h2>
            <p class="desc">模态框是很常用的组件，小到用于做简单的alert弹窗，大于用于渲染一个完整的组件，甚至实现复杂的表单等操作。它是一层在页面上的页面</p>
        </div>
    </ng-modal>
    <br>
    <br>
    <br>
    <ng-button (click)="showModal2()">使用组件的Demo</ng-button>
    <ng-modal [(isOpen)]="isOpen2">
        <app-test></app-test>
    </ng-modal>
    <br>
    <br>
    <br>
    <ng-button (click)="showAlert()">Alert弹窗</ng-button>
    <br>
    <br>
    <br>
    <ng-button (click)="showConfirm()">Confirm确认框</ng-button>
    <br>
    <br>
    <br>
    <ng-button (click)="showPrompt()">Prompt弹出输入框</ng-button>
</div>