<div class="test-wrap">
    <div class="poem-wrap col">
        <h2>台阶</h2>
        <strong>刘春丽</strong>
        <p class="text">我爬过很多台阶</p>
        <p class="text">有依坡而建上山的台阶</p>
        <p class="text">有寺庙古老的青褐色台阶</p>
        <p class="text">有进校园灰色的台阶</p>
        <p class="text">有新楼门前光亮的台阶</p>
        <p class="text">有的规则整齐</p>
        <p class="text">有的整齐中已经有了不规则</p>
        <p class="text">那些台阶刻写着岁月沧桑</p>
        <p class="text">印留着能工巧匠的凿痕</p>
        <br>
        <p class="text">有的已经被跋涉的脚步踏磨泛光</p>
        <p class="text">但依稀可见工匠打磨的石纹</p>
        <p class="text">而新修建的台阶</p>
        <p class="text">显示着现代雕琢的艺术风格</p>
        <p class="text">那些台阶迂回曲折</p>
        <p class="text">长长身躯贯通了</p>
        <p class="text">人们想要到达的目的地</p>
        <p class="text">那些台阶在暑来寒往中</p>
        <p class="text">巍然不动静静挺卧</p>
        <p class="text">承载人们坚强的脚步</p>
        <p class="text">得以登上高处翘首俯瞰</p>
    </div>
    <div class="img-wrap col">
        <img src="/assets/imgs/poem.jpg" alt="台阶图片">
        <em>图片拍摄于贵州传统村落：云山村（2017-07-09）</em>
    </div>
</div>
